/* General styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  }
  body{
    background-color: #FBFFF4;
  }

/*For nav bar*/
li,a{
    font-weight: 500;
    font-size: 20px;
    color: #f2f2f2;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: green;
    height: 50px;
}
.logo{
    height: 50px;
}
nav .nav-links li{
    list-style: none;
    position: relative;
}
.nav-links li{
    display: inline-block;
    padding: 0 20px;
}
body{
    overflow-x: hidden;
}
nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background-color: #f2f2f2;
    height: 5px;
    top: 30px;
    position: relative;
    transition: width 0.3s;
}
nav ul li a:hover::before{
    width: 100%;
}
.cart{
  position: relative;
  left: -50px;
    text-align: center;
    cursor:pointer;
    width: 40px;
    width: 40px;
  }
  .cart a span{
    
    background-color: red;
    padding: 3px;
    border-radius: 50%;
    color: white;
    font-weight: 500;
    /* vertical-align: top;
    margin-left: -20px;
    margin-top: -10px; */
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    right: -2px;
    font-size: 10px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cart img{
    display: inline-block;
    width: 40px;
    margin-top: 10px;
  }
  .cart:hover{
    opacity: 0.7;
  }
  /*End of Nav bar*/
  
 .wrapper {
    overflow-y: auto;
    width: 100vw;
    height: 100vh
  }

/* Menu styles */
h2 {
    text-align: center;
}
.item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.item img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
}
#element-counter {
  opacity: 0;
}

#factura-div ul li{
  color: black;
  list-style: none;
}
#factura-div {
    display: flex;
    justify-content: center;
}


.item-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: auto;
    width: 600px;
}
.item-price{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.item-content span {
  font-weight: bold;
}

.item-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: space-between; /* Ajusta el espacio entre los elementos */
}
.pass-btn, #pay-btn {
  background-color: green;
  border-radius: 15px;
  border: none;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
}
#pay-btn{
  padding: 10px 15px;
  font-size: 12px;
  text-decoration: none;
  color: white;
  line-height: 12px;
}
.pass-btn a{
  display: block;
  padding: 10px 15px;
  font-size: 12px;
  text-decoration: none;
  color: white;
  line-height: 12px;
}

.item-buttons button {
  display: flex;
  border: none;
  border-radius: 50%;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  line-height: 35px; /* Ajusta la altura del texto para centrarlo verticalmente */
  text-align: center; /* Ajusta la alineación horizontal del texto */
  font-family: roboto;
}

.btn-increment {
  background-color: green;
  color: white;
}

.btn-increment:hover {
  background-color: #2a562c;
}

.btn-decrement:hover {
  background-color: lightgray;
}

.item-buttons span {
  padding: 5px;
}
/* End of menu styles */

/*Footer styles*/
footer {
  /*  position: fixed;
    bottom: 0;*/
    height: 4rem;
    width: 100vw;
    background-color: green;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.footer-list {
  display: flex;
  justify-content: center;
}

.footer-list li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.footer-list img {
  margin-left: 10px;
  margin-right: 3px;
}

.footer-list a {
    
  text-align: center;
  display: flex;

}
small{
    color: #f2f2f2;
    text-align: center;
    margin-top: 5px;
}
/*End of footer styles*/